<h1>Create a New Song</h1>

<p>Add a new song for <%= @artist.name %></p>

<%= form_for([@artist, @song]) do |f| %>
<% if @song.errors.any? %>
  <h2><%= pluralize(@song.errors.count, "error") %> prohibited this record from being saved:</h2>
  <ul>
    <% @song.errors.full_messages.each do |message| %>
      <li><%= message %></li>
    <% end %>
  </ul>
<% end %>


  <%= f.label :title %>
  <%= f.text_field :title %>

  <%= f.submit %>
<% end %>
